.goods {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 14px 20px 38px 19px;

  border: 2px solid $card-border-color;
  border-radius: 3px;

  @media screen and (min-width: 480px) {
    margin-right: 15px;
  }

  &__picture {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__label {
    position: absolute;
    top: -2px;
    left: -2px;

    display: inline-block;
    padding: 5px 43px 5px 21px;
    align-items: center;

    @include font(18px, $white-color, 500, 1);

    border-bottom-right-radius: 10px;
    border-top-left-radius: 3px;
  }

  .label-blue {
    background-color: $top-bcg-color-blue;
  }

  .label-purple {
    background-color: $top-bcg-color-purple;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;

    width: 44px;
    height: 46px;

    background-color: inherit;
    border: none;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  &__rating {
    @include flex(flex, row, wrap, center, flex-start);
    margin-bottom: 9px;
  }

  &__reviews {
    display: inline-block;

    @include font(14px, $permanent-dark-blue-color, 500, 16.8px);
  }

  &__heading {
    display: inline-block;
    margin-bottom: 26px;

    .text {
      @include font(18px, $permanent-dark-blue-color, 400, 24px);
    }

    .title {
      @include font(14px, $active-card-color, 500, 24px);
    }
  }

  &__code {
    @include font(14px, $permanent-blue-smoke-color-pagination, 500, 16.8px);
    &--accent {
      @include font(14px, $permanent-blue-smoke-color-pagination, 600, 16.8px);
      font-family: "Nunito", sans-serif;
    }
  }
}

.price {
  @include flex(flex, row, nowrap, center, space-between);
  &__value {
    @include font(16px, $permanent-dark-blue-color, 700, 28.8px);

    @media screen and (min-width: 1920px) {
      @include font(24px, $permanent-dark-blue-color, 700, 28.8px);
    }
  }

  .currency {
    font-weight: 300;
  }
}

.available {
  @include flex(flex, row, wrap, center, space-between);

  &__item {
    margin-left: 9px;

    @include font(16px, $active-card-color, 500, 19.2px);
    text-align: right;
  }
}
