.goods {
  padding: 14px 20px 34px 12px;

  border: 2px solid $card-border-color;
  border-radius: 3px;

  @media screen and (min-width: 480px) {
    margin-right: 8px;
    margin-left: 8px;
  }

  &__picture {
    display: inline-block;
    margin-bottom: 24px;
  }

  &__label {
    top: -2px;
    left: -2px;

    display: inline-block;
    padding: 5px 43px 5px 21px;

    @include font(18px, $white-color, 500, 1);

    border-bottom-right-radius: 10px;
    border-top-left-radius: 3px;
  }

  .label-blue {
    background-color: $top-bcg-color-blue;
  }

  .label-purple {
    background-color: $top-bcg-color-purple;
  }

  &__button {
    top: 0;
    right: 0;

    width: 44px;
    height: 46px;

    background-color: inherit;
    border: none;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  &__rating {
    margin-bottom: 2px;
  }

  &__reviews {
    margin-top: 4px;

    @include font(14px, $permanent-dark-blue-color, 500, 1.2);
  }

  &__heading {
    margin-bottom: 30px;

    .text {
      @include font(18px, $permanent-dark-blue-color, 400, 24px);
    }

    .title {
      @include font(14px, $active-card-color, 500, 24px);
    }
  }

  .icon-stars {
    width: 102px;
  }
}

.price {
  &__value {
    @include font(16px, $permanent-dark-blue-color, 700, 1.2);

    @media screen and (min-width: 1400px) {
      @include font(24px, $permanent-dark-blue-color, 700, 1.2);
    }
  }

  .currency {
    font-weight: 300;
  }
}

.available {
  &__item {
    margin-left: 9px;

    @include font(16px, $active-card-color, 500, 1.2);
    text-align: right;
  }

  &__icon {
    margin-right: 0;
  }
}
