.characteristics {
  padding-top: 20px;
  margin-right: 10px;
  padding-bottom: 40px;

  @media screen and (min-width: 1024px) {
    padding-left: 122px;
  }

  &__heading {
    margin-bottom: 30px;

    &--green {
      font-family: "Nunito", sans-serif;
      @include font(20px, $active-card-color, 400, 1.2);

      @media screen and (min-width: 1400px) {
        @include font(30px, $active-card-color, 400, 1.2);
      }
    }
  }

  .buttons-group-path {
    &__button {
      &--close {
        display: none;
      }
    }

    &.is-open > .buttons-group-path__button--open {
      display: none;
    }

    &.is-open > .buttons-group-path__button--close {
      display: flex;
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.characteristics-full {
  &__list {
    margin-bottom: 26px;
  }

  tbody {
    max-width: 356px;
  }

  &__item {
    margin-bottom: -2px;
  }

  &__label {
    width: 226px;

    &::before {
      position: absolute;
      width: 100%;
      bottom: 10px;
      content: "";
      border-bottom: 1px dashed $border-not-active-pagination;
    }

    span {
      position: relative;
      padding-right: 16px;
      background-color: $white-color;
      @include font(16px, $permanent-dark-blue-color, 500, 1.875);
    }
  }

  &__value {
    padding-left: 16px;
    @include font(12px, $permanent-blue-smoke-color-pagination, 400, 1.875);

    @media screen and (min-width: 1400px) {
      @include font(16px, $permanent-blue-smoke-color-pagination, 400, 1.875);
    }
  }
}
