.control {
  border-radius: 10px;
  border: 1px solid $border-not-active-pagination;

  .top {
    background-color: $promotion-top-bcg-color;
    margin: -2px -1px 0 -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &__link {
      padding: 18px 14px;
      @include font(10px, $white-color, 500, 1.2);

      background-color: $action-bcg-color;
      border-top-left-radius: 10px;

      @media screen and (min-width: 1400px) {
        padding: 16px 20px;
        @include font(24px, $white-color, 500, 1.2);
      }
    }

    &__text {
      margin-left: 21px;

      @include font(16px, $action-bcg-color, 400, 1.2);

      border-top-right-radius: 10px;

      @media screen and (max-width: 1400px) {
        padding: 8px 14px;
        @include font(10px, $action-bcg-color, 400, 1.2);
      }
    }
  }

  .price {
    padding: 20px;

    @media screen and (min-width: 992px) {
      padding: 39px 21px 20px;
    }

    &__value {
      &--new {
        margin-right: 34px;
        @include font(20px, $action-bcg-color, 700, 1.2);

        @media screen and (min-width: 1400px) {
          @include font(36px, $action-bcg-color, 700, 1.2);
        }

        .currency {
          @include font(20px, $action-bcg-color, 300, 1.2);

          @media screen and (min-width: 1400px) {
            @include font(36px, $action-bcg-color, 300, 1.2);
          }
        }
      }

      &--old {
        margin-top: 8px;

        @include font(12px, $price-old-color, 500, 1.2);

        @media screen and (min-width: 1400px) {
          @include font(16px, $price-old-color, 500, 1.2);
        }

        &::before {
          position: absolute;
          left: -24%;
          width: 142%;
          height: 56%;
          content: "";
          border-bottom: 1px solid $action-bcg-color;
        }
      }
    }
  }
}

.smoke-yellow-button {
  padding: 3px;
  border: 2px solid $wish-border-color;
}

.actions {
  margin: 0 -1px -1px -1px;

  &__add {
    width: 38.2%;
    background-color: $active-card-color;
    border-bottom-left-radius: 10px;

    @media screen and (min-width: 992px) {
      padding: 13px 5px 15px 7px;
    }

    .add {
      &__button {
        @include font(12px, $white-color, 500, 1.2);

        @media screen and (min-width: 1400px) {
          @include font(24px, $white-color, 500, 1.2);
        }
      }

      &__icon {
        margin-left: 10px;

        @media screen and (min-width: 768px) {
          margin-left: 40px;
        }
      }
    }
  }

  &__compare {
    width: 15.29%;
    margin-left: 9px;

    @media screen and (min-width: 992px) {
      padding: 7px 22px 10px;
    }
  }

  &__wish {
    width: 15.29%;

    @media screen and (min-width: 992px) {
      padding: 11px 23px 10px;
    }
  }

  &__buy {
    width: 28.62%;

    border-bottom-right-radius: 10px;

    @media screen and (min-width: 992px) {
      padding: 8px 34px 12px 18px;
    }

    .buy {
      &__button {
        @include font(10px, $permanent-blue-smoke-color-pagination, 500, 1.2);

        text-align: left;
        @media screen and (min-width: 1400px) {
          @include font(14px, $permanent-blue-smoke-color-pagination, 500, 1.3);
        }
      }

      &__icon {
        margin-right: 13px;
      }
    }
  }

  svg {
    @media screen and (max-width: 1439px) {
      height: 20px;
      width: 20px;
    }
  }
}
