.footer {
  background-color: $subscribe-bcg-color;
}

.footer-top {
  padding: 58px 30px 32px;
}

.footer-column {
  &__logo {
    margin-right: 25px;
  }

  &__title {
    @include font(18px, $white-color, 500, 1.171);
    margin-bottom: 14px;
  }

  &__item {
    @include font(14px, $white-color, 400, 1.29);
  }

  &__link {
    color: $white-color;
    opacity: 0.5;
  }

  @media screen and (max-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

.column-one {
  &__title {
    font-family: "Nunito", sans-serif;
    @include font(16px, $white-color, 700, 1.25);
  }
}

.social {
  &__list {
    margin: 40px 0;
    width: 186px;
  }
}

.payment-delivery {
  &__link {
    margin-right: 60px;
  }
}

.payment {
  &__item:not(:last-child) {
    margin-right: 6px;
  }
}

.footer-contacts__item {
  &:first-child {
    margin-bottom: 12px;

    a {
      @media screen and (max-width: 1023px) {
        @include font(18px, $white-color, 500, 1.2);
      }

      @include font(24px, $white-color, 500, 1.2);
      opacity: 0.7;
    }
  }

  a {
    @include font(18px, $white-color, 500, 1.2);
    opacity: 0.7;
  }
}

// footer bottom

.footer-bottom {
  &__content {
    padding: 30px 20px 33px;

    @media screen and (min-width: 1024px) {
      padding: 30px 130px 33px 30px;
    }

    border-top: 1px solid $permanent-blue-smoke-color-pagination;

    @include font(14px, $white-color, 400, 18px);
    opacity: 0.5;
  }
}

a:hover,
a:focus {
  color: darken($white-color, 20%);
}
