.reviews {
  padding-top: 22px;

  &__header {
    margin-bottom: 10px;
  }

  &__heading {
    @include font(16px, $permanent-dark-blue-color, 400, 1.2);

    @media screen and (min-width: 1400px) {
      @include font(30px, $permanent-dark-blue-color, 400, 1.2);
    }
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $border-not-active-pagination;
  }

  .count {
    margin: 2px 0 0 10px;
    @include font(16px, $active-card-color, 500, 1.2);

    @media screen and (min-width: 768px) {
      @include font(30px, $active-card-color, 500, 1.2);
    }
  }

  .main-button:disabled {
    opacity: 0.5;
  }

  .reviews-buttons-group:disabled {
    opacity: 0.5;
  }
}

.comment {
  padding: 36px 0 36px 3px;

  &__header {
    margin-bottom: 18px;
  }

  &__author {
    margin-right: 20px;
    @include font(16px, $permanent-dark-blue-color, 500, 1.2);
  }

  &__time {
    margin-left: 4px;
    font-family: "Nunito", sans-serif;
    @include font(14px, $permanent-dark-blue-color, 400, 1.2);
  }

  &__text {
    @include font(16px, $permanent-blue-smoke-color-pagination, 400, 1.5);
  }
}
