.slider-number {
  @include flex(flex, row, wrap, center, flex-start);

  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 22px;
      @media screen and (max-width: 767px) {
        margin-right: 10px;
      }
    }
  }

  &__button {
    position: absolute;

    align-items: center;
    padding: 8px 14px;

    @include font(18px, $permanent-blue-smoke-color-pagination, 400, 21.6px);

    background: $white-color;
    border: 1px solid $border-not-active-pagination;
    border-radius: 10px;

    &--active {
      border: 2px solid $mint-biruza-border-color-pagination;
    }
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.slider-button {
  border: none;
  background-color: inherit;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &__icon {
    color: $permanent-dark-blue-color;
  }
}

.button-next {
  position: absolute;
  top: 50%;
  right: -3%;
}

.button-prev {
  position: absolute;
  top: 50%;
  left: -3%;
}
