.subscribe {
  padding: 16px 12px 30px;

  @media screen and (min-width: 768px) {
    padding: 16px 42px 30px 40px;
  }

  &__content {
    padding: 32px 20px 54px;
    background-color: $subscribe-bcg-color;
    border-radius: 3px;
  }

  &__title {
    margin-bottom: 20px;
    color: $white-color;
  }

  &__form {
    max-width: 400px;

    background: $white-color;
    border-radius: 3px;
    border: 1px solid $white-color;

    @media screen and (min-width: 768px) {
      max-width: 586px;
    }
  }
}

.form {
  &__input {
    padding-left: 6px;

    &::placeholder {
      @include font(16px, $permanent-dark-blue-color, 400, 1.2);
      opacity: 0.7;
    }

    @media screen and (min-width: 768px) {
      padding-left: 19px;
    }
  }

  &__submit {
    padding: 13px 44px 14px 47px;

    @include font(24px, $white-color, 500, 1.2);

    background-color: $star-color;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    @media screen and (max-width: 767px) {
      @include font(16px, $white-color, 500, 1.2);
      padding: 14px 16px;
    }

    &:hover {
      color: darken($star-color, 20%);
    }
  }
}
