.nav {
  border-bottom: 1px solid $border-not-active-pagination;

  &__link {
    display: block;
    padding: 8px 4px 13px;
    
    @include font(12px, $permanent-blue-smoke-color-pagination, 500, 1);

    @media screen and (min-width: 576px) {
      padding: 11px 21px 13px 19px;
      @include font(16px, $permanent-blue-smoke-color-pagination, 500, 1.2);
    }
  }

  &__item {
    border: none;
    background-color: transparent;
    &.is-active {
      margin-bottom: -1px;
      border-bottom: 1px solid $tabs-active-color;

      a {
        color: $tabs-active-color;
      }
    }
  }

  &:hover {
    transform: none;
  }

  .reviews {
    @include font(12px, $tabs-active-color, 700, 1.2);

    @media screen and (min-width: 576px) {
      @include font(16px, $tabs-active-color, 700, 1.2);
    }
  }
}

.tab-content {
  .tab {
    display: none;
  }

  .tab.is-active {
    display: flex;
  }
}
