@mixin font(
  $size: false,
  $color: false,
  $weight: false,
  $lh: false
) {
  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}

@mixin flex($display: false, $flexDirection: false, $flexWrap: false, $alignItems: false, $justifyContent: false) {
  @if $display {
    display: $display;
  }
  @if $flexDirection {
    flex-direction: $flexDirection;
  }
  @if $flexWrap {
      flex-wrap: $flexWrap;
  }
  @if $alignItems {
    align-items: $alignItems;
  }
  @if $display {
    justify-content: $justifyContent;
  }
}
