$permanent-dark-blue-color: #33485D;
$white-color: #FFFFFF;
$top-bcg-color-purple: #BB6BD9;
$top-bcg-color-blue: #2D9CDB;
$card-border-color: #239653;
$active-card-color: #219653;
$permanent-blue-smoke-color-pagination: #5C6D7D;
$border-not-active-pagination: #DDE8F0;
$mint-biruza-border-color-pagination: #74C3B4;
$star-color: #FFA800;
$shadow-color: rgba(0, 0, 0, 0.25);
$subscribe-bcg-color: #0D4128;
$action-bcg-color: #EB5757;
$promotion-top-bcg-color: #FDEEEE;
$wish-border-color: #FFCB6D;
$slider-border-color: #229754;
$tabs-active-color: #47B39C;
$available-color: #249755;
$price-old-color:  rgba(51, 71, 92, 0.5);
$border-path-color: rgba(92, 109, 125, 0.5);