// card products slider "photo-prev" small photo
.slick-list {
  overflow: hidden;
}

.photo-prev.slick-initialized.slick-slider.slick-vertical {
  width: 50px;
  @media screen and (min-width: 1440px) {
    width: 121px;
    height: 648px;
    margin-left: 4px;
  }
}

.photo-prev {
  padding: 60px 0;
}

.photo-prev__item {
  margin-bottom: 16px;
}

.photo-prev__item.slick-slide {
  border: 2px solid transparent;
}

.photo-prev__item.slick-slide.slick-current.slick-active {
  border: 2px solid $slider-border-color;
  border-radius: 5px;
}

.photo-prev .slick-list.draggable {
  height: 577px;
}

.photo-prev .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 30px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.photo-prev .slick-arrow.slick-prev {
  top: 7%;
  background: url("../images/path-left.svg") 0 0 /80% no-repeat;
}

.photo-prev .slick-arrow.slick-next {
  bottom: 3%;
  background: url("../images/path-right.svg") 0 0 /100% no-repeat;
}

// card products slider "photo-big" big photo

.photo-big.slick-track {
  display: flex;
}

.photo-big {
  width: 580px;
  @media screen and (max-width: 1399px) {
    max-width: 295px;
  }
}

// catalog slider

.catalog.slick-track {
  display: flex;
}

.catalog {
  position: relative;
}

.catalog .slick-arrow {
  position: absolute;
  top: 51%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 54px;
}

.catalog .slick-arrow.slick-prev {
  left: -26px;
  background: url("../images/path-left.svg") 0 0 /100% no-repeat;
}

.catalog .slick-arrow.slick-next {
  right: -31px;
  background: url("../images/path-right.svg") 0 0 /100% no-repeat;
}
